
/* default css */

*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}

 body {
	font-family: 'Satoshi', sans-serif;
	font-weight: normal;
}

p {
	font-size: 16px;
	font-weight:400;
	color: #70707B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Satoshi', sans-serif;
	color: #18181B;
	font-weight: 400;
}


h1 {
	font-size: 104px;
}

h2 {
	font-size: 64px;
}
h3 {
	font-size: 52px;
}
h4 {
	font-size: 48px;
}
h5 {
	font-size: 40px;
}
h6 {
	font-size: 24px;
}

.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none
}

a{
    text-decoration: none;
}

.col-1 {
    width: 8.33%;
    float:left;
    padding:0 15px;
}
.col-2 {
    width: 16.66%;
    float:left;
    padding:0 15px;
}
.col-3 {
    width: 25%;
    float:left;
    padding:0 15px;
}
.col-4 {
    width: 33.33%;
    float:left;
    padding:0 15px;
}
.col-5 {
    width: 41.66%;
    float:left;
    padding:0 15px;
}
.col-6 {
     width: 50%;
    float:left;
    padding:0 15px;
}
.col-7 {
    width: 58.33%;
    float:left;
    padding:0 15px;
}
.col-8 {
     width: 66.66%;
    float:left;
    padding:0 15px;
}
.col-9 {
    width: 75%;
    float:left;
    padding:0 15px;
}
.col-10 {
    width: 83.33%;
    float:left;
    padding:0 15px;
}
.col-11 {
     width: 91.66%;
    float:left;
    padding:0 15px;
}
.col-12 {
    width: 100%;
    float:left;
    padding:0 15px;
}
.d-flex{
    display: flex;
}
.offset-1{
    margin-left:8.33%;
}
.container{
    max-width:1280px;
    margin:0 auto;
}
.d-none{
	display: none;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.mt-40{
    margin-top:40px
}
.mb-40{
    margin-bottom:40px
}
.pt-80{
    padding-top:80px;
}
.pb-80{
    padding-bottom:80px;
}

.pt-56{
    padding-top:56px;
}

.pt-95{
    padding-top:95px;
}
.pb-86{
    padding-bottom: 86px;
}
.pb-53{
    padding-bottom: 53px;
}
.pt-204{
    padding-top: 204px;
}
.pb-204{
    padding-bottom: 204px;
}

.mb-56{
    margin-bottom:56px;
}

.mt-170{
    margin-top:170px;
}
.mb-143{
    margin-bottom:143px;
}
.mb-60{
    margin-bottom:60px;
}

.fix{
    overflow:hidden;
}

.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content:center;
}

.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-end{
    justify-content:end;
}

.align-item-center{
	align-items: center;
}
 
.align-item-end{
	align-items: end;
}

/* header css start */
.transparent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}
  .header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 29px 0px;
}

  .main-menu ul {
    display: flex;
    gap:20px;
    align-items: center;
  }

  .main-menu ul li a {
    font-size:14px;
    font-weight: 400;
    color: #FCFCFC;
    transition: .2s;
  }
  .main-menu ul li a:hover{
    color: #3498db;;
  }
 
  .header-btn a{
    background:#FCFCFC;
	border-radius: 12px;
	color: #18181B;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	line-height: 155%;
	padding: 10px 18px;
	transition: all 0.3s ease 0s;
  }

  .header-btn a:hover{
    background-color: #18181B;
    color: #FFFFFF;
  }
/* header css end */


/* hero css start */
.hero-area{
    position:relative;	
}

.hero-wrap {
	display: flex;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.hero-img {
	background-image: url(assects/img/hero/main-img.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    max-height: 1024px;
}

.hero-content {
	padding-top: 649px;
	padding-bottom: 64px;
}
.hero-content h1{
    color: #FFFFFF;
    font-weight: 400;
	font-size: 6.5rem;
}

.h-wrap{
    position: relative;
}

.thumb-img {
	position: absolute;
	right: 0;
	bottom: 64px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	border: 2px solid #FFFFFF;
	padding: 8px;
	border-radius: 12px;
}
 
.thumb-img img {
	width:12.25rem;
}

.hero-content .scroll-btn {
	display: inline-block;
	margin-top: 1.5rem;
	font-size: 2rem;
	animation: bounce 2s infinite;
	text-decoration: none;
	position: absolute;
	right: 269px;
	bottom: 69px;
	width: 80px;
	height: 80px;
	color: #FFFFFF;
	border-radius: 50%;
	line-height: 80px;
	text-align: center;
	border: 2px solid #fff;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* hero css end */


/* team css start */
.team-left h3 {
    font-weight: 400;
    margin-bottom: 32px;
  }
  .team-left a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background: #18181B;
    padding: 10px 22px;
    border-radius: 12px;
    display: inline-block;
    transition: .2s;
  }

 .team-left a:hover{
    background-color: #3498db;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px); 
 }

  .team-right>p {
	font-size: 20px;
	font-weight: 400;
	line-height: 155%;
	padding: 0px 0px 0px 73px;
	margin-bottom: 30px;
}

.team-item h6 {
    margin-bottom: 8px;
    margin-top: 20px;
    font-weight: 400;
  }
  .team-item p {
    font-size: 16px;
    font-weight: 400;
    line-height: 155%;
  }

  .team-item img {
	width: 100%;
}
.team-right {
	padding-bottom: 26px;
}
/* team css end */

/* property css start */
.property-content-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.property-item {
	position: relative;
	border: bottom;
	padding-bottom: 24px;
}
.property-img img {
	width: 100%;
}

.property-content{
    margin-top:16px;
}
.property-txt {
	margin-bottom: 56px;
}
.property-txt p{
    font-size: 20px;
    font-weight: 400;
    line-height: 155%;
}

.adress {
	display: flex;
	gap: 5px;
	margin-top: 5px;
}

  .property-content span {
    color: #70707B;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
  }

  .property-price > span {
	font-size: 20px;
	font-weight: 700;
	display: inline-block;
}

.absolute-content {
	position: absolute;
	top: 16px;
	right: 16px;
	display: flex;
	gap: 12px;
	align-items: center;
}

.a-img {
	display: flex;
    color: #FCFCFC;
    font-weight: 600;
	background: #18181B;
	align-items: center;
	border-radius: 22px;
	padding: 8px 12px;
	gap: 6px;
}

.a-img img {
	width: 20px;
	height: 20px;
}

.absolute-content > span {
	font-size: 18px;
	border-radius: 22px;
	font-weight: 600;
	color: #FCFCFC;
	display: inline-block;  
	background: #18181B;
    padding: 8px 12px;
}

.property-btn {
	text-align: center;
}

.property-btn a {
	border-radius: 12px;
	background: #18181B;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 25px;
	color: #fff;
	margin-top: 70px;
	margin-bottom: 80px;
    transition: .2s;
}

.property-btn a:hover{
    background-color: #3498db;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px); 
 }
/* property css end */

/* faq css start */
.faq-left h3 {
	margin-bottom: 24px;
}
.faq-left p {
	font-size: 20px;
	font-weight: 400;
	line-height: 155%;
	padding-right: 84px;
	margin-bottom: 56px;
}

.faq-right {
    position: relative;
  }

.accordion li {
	width: 100%;
	color: #70707B;
	margin-bottom: 16px;
}

.accordion li label {
	display: flex;
	align-items: center;
	font-size: 18px;
	cursor: pointer;
	padding: 16px 0px;
	font-weight: 600;
}

input[type="radio"]{
    display: none;
}

.accordion label:after{
  content: "+";
  font-size: 24px;
  position: absolute;
  right: 30;
  right: 30px;
}
.content {
	max-height: 0;
	overflow: hidden;
    border-radius: 13px;
    font-size: 16px;
	font-weight: 400;
	line-height: 155%;
	color: #18181B;
    margin-top:16px;
    transition: max-height 0.5s, padding 0.5s;
}

.content p {
	color: #18181B;
	padding-right: 0px;
	font-size: 18px;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
}

.accordion input[type="radio"]:checked + label::after{
    content:"-";
    font-size:24px;
}
/* faq css end */


/* blog css start */
.section-title h3 {
	font-size: 52px;
	font-weight: 400;
	color: #18181B;
    line-height:120%;
}

.blog-right p {
	font-size: 18px;
	line-height: 155%;
	color: #70707B;
	padding-left: 67px;
}
.blog-img img{
	width:100%
}
.blog-meta {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .time {
	display: flex;
	align-items: center;
}
  .icon {
	display: flex;
	align-items: center;
}
  .date span {
    font-size: 16px;
    font-weight: 400;
    color: #70707B;
    line-height: 155%;
  }
  .time span {
    font-size: 16px;
    font-weight: 400;
    color: #70707B;
    margin-left: 8px;
    line-height: 155%;
  }
  .icon img {
	width: 16px;
	height: 16px;
}
.blog-content {
    margin-top: 16px;
  }
  
  .blog-content h6 {
    font-weight: 400;
    color: #18181B;
    line-height: 120%;
    margin-top: 16px;
  }

/* slick slider */
.custom-blog .slick-dots li {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #70707B;
    border-radius: 50%;
  }
  
  .custom-blog .slick-dots li button {
	color: transparent;
	width: 18px;
	height: 18px;
	line-height: 26px;
	border-radius: 50%;
	border: none;
	background: #18181B;
	opacity: 0;
	transition: 0.5s all ease;
	text-align: center;
}

  .custom-blog .slick-dots li.slick-active button {
    opacity: 1;
  }
  
  button:focus {
    outline: 0px dotted;
  }
/* blog css end */

/* contact css start */
.contact-area {
	background-image: url(../img/contact/contact-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.contact-left h2 {
	color: #FCFCFC;
	font-weight: 600;
	line-height: 120%;
	margin-bottom: 24px;
}
.contact-left p {
	font-size: 20px;
	font-weight: 400;
	line-height: 155%;
    color: #FCFCFC;
}

.contact-right {
	background-color: #FCFCFC;
	max-width: 444px;
	margin-top: 110px;
	border-radius: 24px;
	padding: 24px 24px;
}

.contact-form label {
	margin-bottom: 16px;
	display: block;
	font-weight: bold;
	font-size: 16px;
	color: #18181B;
	padding: 5px 0px;
}

.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #70707B;
    border-radius: 5px;
    font-size: 16px;
    background-color: #FFFFFF;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #18181B;
    color: #FCFCFC;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #3498db;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px); 
 }
/* contact css end */

/* footer start */
.footer-area{
    background-color: #18181B;
}
.footer-left h4 {
	font-size: 32px;
	font-weight: 400;
	color: #FCFCFC;
	line-height: 120%;
	margin-bottom: 32px;
	padding-right: 52px;
}
.footer-left ul {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
	gap: 46px;
}
.footer-left ul > li {
	font-size: 14px;
	color: #FCFCFC;
	line-height: 155%;
	font-weight: 600;
}

.adress ul {
	display: flex;
	align-items: center;
	gap: 30px;
}
.adress ul li {
	font-size: 14px;
	color: #FCFCFC;
	line-height: 155%;
	font-weight: 400;
}

.footer-widget h3 {
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 400;
	line-height: 155%;
	margin-bottom: 16px;
}
.footer-widget ul li {
    margin-bottom: 16px;
}
.footer-widget ul li a {
	font-size: 16px;
	color: #FCFCFC;
	font-weight: 400;
	line-height: 155%;
}

.left ul li {
	width: 50%;
	margin-bottom: 16px;
	float: left;
}
.footer-bottom {
	border-top: 1px solid #70707B;
	padding-top: 37px;
	align-items: center;
}
.footer-bottom p{
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
}
.footer-bottom span {
	color: #FCFCFC;
	font-size: 14px;
	font-weight: 600;
}
.footer-bottom span img {
	width: 10px;
	height: 11px;
	color: #FCFCFC;
}
/* footer css end */

